@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome microsoft Joshua Khoza V7777vv1111111...</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core deployed to AWS Elastic Beanstalk </a>.</p>
</div>
